@media screen and (max-width:320px) {
    .first-bloc-first-number, .first-bloc-second-number, .first-bloc-third-number{
        display: none;
    }
    
}

@media screen and (max-width:500px) {
    header img{
        width: 80%;
        top: 40%;
        left: 12%;
    }
    section{
        height: 200vh;

    }

    .under-section-first, .under-section-second{
        height: 100vh;
    }

    .container-first, .container-second{
        width: 80%;
        height: 75vh; 
        
    }

    .first-bloc{
        width: 80%;
        height:100%;
        margin: auto;
        flex-direction: column;
    }
    .first-bloc-first, .first-bloc-second, .first-bloc-third{
        width:100%;
        height: 24vh;
    
    }
    .second-bloc{
        height: 60vh;
        flex-direction: column;
        font-size: 1.6rem;
        transform: translate(0,33%);
        margin-top: initial;
        
    }
    .second-bloc-first,.second-bloc-second{
        width: 100%;
        height: 50%;
    }
    .first-bloc-first-number, .first-bloc-second-number, .first-bloc-third-number{
        height: 22%;
    }
    .first-bloc-first-number{
        margin-top: 5px;
    }
}
@media screen and (max-height:500px) {
    section{
        height: 200vh;

    }
    .under-section-first, .under-section-second{
        height: 100vh;
    }
    .container-first, .container-second{
        width: 80%;
        height: 75vh; 
        
    }
    .first-bloc{
        width: 100%;
        height:70%;
        margin: auto;
        flex-direction: row;
    }
    .first-bloc-first, .first-bloc-second, .first-bloc-third{
        width:100%;
        height: 100%;
    
    }
    .second-bloc{
        height: 60vh;
        flex-direction: row;
        font-size: 1.6rem;
        transform: translate(0,33%);
        margin-top: initial;
        
    }
    
}